body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #products-list {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .product {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product h2 {
    margin: 0;
  }
  
  .product p {
    margin: 5px 0;
  }
  